.center{
    text-align: center;
}
.header-container{
    background: #000;
}
.pad{
    padding: 10px 10px 0px 10px;
}
#header{
    color: #fff;
}
.project-name{
    padding: 0px;
    margin-bottom: -15px;
}
a.project-name-btn, .project-counter-btn, .project-size-btn, .project-name-btn{
    padding: 0 10px 0 10px;
}
.content-container{
    padding: 5px;
}
a.project-name-btn, .project-name-btn{
    border-radius: 0 0 0 0;
}
.project-counter-btn{
    border-radius: 5px 0 0 5px;
}
.project-size-btn{
    border-radius: 0 5px 5px 0;
    text-align: left;
}
.btn-black{
    background: #000;
    color: #fff;
    text-align: left;
}
.btn-black2{
    background: #2F2F2F;
    color: #fff;
    text-align: left;
}
.btn-green{
    background: #2A4F3A;
    color: #fff;
    text-align: left;
}
.btn-green2{
    background: #002626;
    color: #fff;
    text-align: left;
}
.btn-blue{
    background: #2F6690;
    color: #fff;
    text-align: left;
}
.btn-blue2{
    background: #3A7CA5;
    color: #fff;
    text-align: left;
}
.header{
    background: linear-gradient(to bottom, rgba(0, 116, 249, 0.8), rgba(37, 63, 197, 1));
    color: #fff;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.tester{
    background: linear-gradient(to bottom, rgba(131, 6, 15, 1), rgba(191, 0, 18, 1));
    color: #fff;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
}
.head-btn-left{
    border-radius: 0 0 0 6px;
}
.head-btn-right{
    border-radius: 0 0 6px 0;
}